.App {
  text-align: center;
}

.header {
  margin:20px 50px;
  padding: 1px; 
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgba(217, 186, 208, 0.783);
  color: white;
}
.main{
  border: 1px solid pink;
  margin:50px 400px;
}

.main input{
  border: none;
  border-bottom:thin solid gray;
  margin-bottom: 5px;
}
.main input:focus{
  outline: none;
}